:root {
  --PrimaryColor: hsl(199, 100%, 33%);
  --SecondaryColor: hsl(187, 85%, 43%);
  --gradientColor: linear-gradient(
    to right,
    hsl(187, 85%, 43%),
    hsl(199, 100%, 33%)
  );
  --gradientColorButton: linear-gradient(
    to right,
    hsl(0, 0%, 37%),
    hsl(0, 2%, 9%)
  );
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(201, 33%, 16%);
  --textColor: hsl(240, 4%, 36%);
  --whiteColorDeam: hsl(0, 0%, 93%);
  --greyText: rgb(190, 190, 190);
  --inputColor: rgb(239, 239, 239);
  --bodyColor: rgb(240, 240, 246);
  --cardBG: rgb(225, 225, 225);
}

.profileSection {
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  padding: 8rem 1rem 5rem 1rem;

  .profileDiv {
    border-radius: 5px;
    background:var(--whiteColorDeam);
    width: 80%;
    margin: auto;
    padding: 30px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    .details {
      p {
        margin-bottom: 8px;
      }

      .btn {
        position: absolute;
        top: 125px;
        right:20px;
        color: white;
        font-size: medium;
        background: var(--gradientColor);
      }
    }

    .editForm {
      label {
        display: block;
        margin-bottom: 6px;
        font-weight: bold;
      }

      input {
        width: 30%;
        padding: 8px;
        margin-bottom: 10px;
        border-radius: 4px;
        outline: none;
        border: none;
      }

      .btnDiv {
        display: flex;
        position: absolute;
        top: 150px;
        right: 40px;
        gap: 10px;
        .btn {
          color: white;
          font-size: medium;
          background: var(--gradientColor);
        }
      }
    }
  }
}
